@font-face{
    font-family: "Lato-Italic";
    src: url(../polices/Lato-LightItalic.ttf)
}

@font-face{
    font-family: "Lato-Bold";
    src: url(../polices/Lato-Bold.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police and font size */
p, a, span
{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/* u{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
} */


/* Nav */
nav
{
    height: 150px;
    background-color: hsl(197, 37%, 24%);

    display: flex;

    justify-content: space-between;

    /* font-family: 'Roboto', sans-serif; */
}

footer
{
    height: 100px;
}

#logo
{
    width: 15%;
    height: 100%;

    color: black;
}
.color_icon
{
    color: black;
}
.color_icon2
{
    color: rgb(2, 116, 179);
}

nav>ul, footer>ul
{
    width: 60%;
    height: 100%;

    /* background-color: hotpink; */
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

footer>ul
{
    width: 100%;
}

nav ul li, footer ul li
{ 
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

nav a, footer a{
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 15px;
    border-radius: 20px;
    /* border: 1px solid green; */
}

.logo
{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.logo>img
{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.menu_nav>li:nth-child(1)>a:hover,
.menu_nav>li:nth-child(2)>a:hover,
.menu_nav>li:nth-child(3)>a:hover,
.menu_nav>li:nth-child(4)>a:hover,
footer>ul>li:nth-child(1)>a:hover,
footer>ul>li:nth-child(2)>a:hover,
footer>ul>li:nth-child(3)>a:hover
{
    transition: 0.4s;
    background-color: #f4a261;
    color: white;
}

/* Burger menu */
#menu-bars {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    z-index: 9;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    background-color: white;
}

#menu {
    /* background-color: black; */
    background-color: rgba(255, 255, 255, 0.842);;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    /* width: 200px; */
    height: 150px;
    overflow: hidden;
    z-index: 5;

    /* Solution 1 */
    /* border-radius: 10px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    transition: all 0.5s ease;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */

    /* Testing */
    display: flex;

    /* transition: height 1s; */
}

/* Solution 1 */
/* #menu a {
    color: black;
    display: block; 
    text-decoration: none;

    padding: 5px;
    border-radius: 10px; */
    /* margin-top: 15px;
    margin-left: 15px; */
/* } */

/* Solution 1 */
/* #menu a:hover
{
    transition: 0.4s;
    background-color: #f4a261;
    color: white;
} */

/* Solution 2 */
.container_menu
{
    /* position: absolute; */
    /* top: 0;
    right: 0; */
    width: calc(100% - 50px);
    height: 100%;
    /* background-color: pink; */
    /* border: 2px solid black; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Solution 2 */
.container_empty
{
    width: 50px;
    height: 100%;
    /* background-color: red; */
    /* border: 2px solid black; */
}

/* Solution 2 */
.container_menu a {
    color: black;
    display: block; 
    text-decoration: none;

    padding: 5px;
    border-radius: 10px;
    /* margin-top: 15px;
    margin-left: 15px; */
}

/* Solution 2 */
.container_menu a:hover
{
    transition: 0.4s;
    background-color: #f4a261;
    color: white;
}

section
{
    width: 100%;
    /* height: 500px; */
    /* border: 1px solid transparent; */
    /* color: greenyellow */
}

h1, h2
{
    text-align: center;
    background-color: hsl(173, 58%, 39%);
    color: white;
    padding: 20px;
    font-family: 'Lato-Bold', sans-serif;
    /* letter-spacing: 4px; */
    font-size: 30px;
}

/* Accueil */
#accueil_s1
{
    background-image: url(../images/background_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border: 1px solid transparent;
}

.intitule 
{
    width: 35%;
    background-color: rgba(255, 255, 255, 0.842);
    text-align: center;
    /* line-height: 75px; */
    margin: 0 auto;
    padding: 20px;

    border: 2px solid lightslategray;
    margin-top: 50px;
    /* font-family: 'Roboto', sans-serif; */
}

.intitule>span
{
    font-size: 20px;
}

.description
{
    width: 70%;

    /* background-color: antiquewhite; */
    margin: 0 auto;

    display: flex;
    border: 2px solid lightslategray;
    align-items: center;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: rgba(255, 255, 255, 0.842);
    padding: 15px;

    margin-top: 50px;
    margin-bottom: 50px;
}

/* .desc
{
    background-color: aqua; */
    /* display: flex;

    align-items: center; */
    /* text-align: center;
} */

.P1>p, .P2>p
{
    margin-top: 15px;
    text-align: center;
}

.P1>a, .P2>a
{
    width: 50px;
    background-color: #2a9d8f;
    margin: 0 auto;
    /*  */
}

/* .description>p
{ */
    /* width: 100%;
    height: 100%; */
    /* width: 100%; */
    /* height: 90%; */
    /* margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 15px;
    padding: 15px; */
    /* margin: 0 auto; */
/* } */

/* Parcours */
#parcours
{
    border-bottom: 1px solid transparent;
    background-color: lightgray;
}
.container_1, .container_2, .container_3, .container_P
{
    width: 100%;

    /* background-color: hotpink; */
    display: flex;
    justify-content: space-around;
    /* background-color: #e9c46a; */
}

/* .container_P
{
    background-color: #eddea4;
} */

.EP, .FA
{
    width: 40%;
    /* height: 150px; */
    background-color: rgba(255, 255, 255, 0.842);
    /* border-radius: 15px; */
    margin-top: 60px;
    /* margin-bottom: 10px; */
    border: 2px solid lightslategray;
    /* box-shadow: -1rem 0 3rem red; */
    /* box-shadow: -10px 5px 10px #2a9d8f; */

    /* text-align: center; */
}

/* .EP_title
{
    width: 100%;
    text-align: center;
    background-color: #2a9d8f;
} */

.EP>span, .FA>span, .Langages>span, .Versions>span, .IDE>span, 
.P1>span, .P2>span
{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family: 'Lato-Italic', cursive;
    /* margin-bottom: 10px;
    border-bottom: 2px solid lightslategray; */
    /* background-color: #2a9d8f; */
}

/* .EP:hover, .FA:hover, .Langages:hover, .Versions:hover, .IDE:hover
{
    transform: translateY(-20px);
    margin-left: 5px; */
    /* box-shadow: -10px 5px 10px lightblue; */
    /* transition: 0.4s ease-out; */
/* } */

/* Experiences professionnelles */
/* .container_EP, .container_V, .container_I */
.container_V, .container_I, .logooo
{
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logooo
{
    margin-bottom: 25px;
}

/* .toto
{
    width: 50px;
    height: 50px;

    background-color: #f4a261;
} */
.EP
{
    display: flex;
    flex-direction: column;
}
.container_new
{
    width: 100%;
    /* height: 80.8%; */
    height: 100%;
    /* background-color: red; */
    /* display: table-cell; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container_EP
{
    /* display: flex;
    justify-content: space-around;
    margin: auto 0; */
    
    /* display: inline-block;
    vertical-align: middle; */

    /* width: 100%;
    height: 50%; */
    display: flex;
    justify-content: space-around;
}

#logo
{
    margin-left: 10px;
}

.container_L, .container_V, .container_I
{
    /* padding: 30px; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_L
{
    display: flex;
    margin-top: 20px;
}

.sub_container, .sub_container2
{
    width: 50%;
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-around;
}

.logo_EP>img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 75px;
}

.logo_EPL>img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 80px;
}

/* .logo_EP>a>img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 75px;
} */

.container_EP>p
{
    margin-left: 20px;
}

/* Formation académiques */
.container_FA1, .container_FA2
{
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.container_FA2
{
    margin-bottom: 20px;
}

.container_FA1>p, .container_FA2>p
{
    margin-left: 10px;
}

.container_1 span, .container_2 span, .container_3 span, .container_P span
{
    font-size: 28px;
}

.sub_container_P
{
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: aqua;
}

.text_P
{
    width: 100%;
    height: 80%;
    background-color: #f4a261;
}

.logo_P
{
    width: 100%;
    height: 20%;
    background-color: green;
}

/* Compétences techniques */
/* .container_2
{
    width: 100%;

    display: flex;
    justify-content: space-around;
} */

.container_2>.Langages
{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.842);
    /* border-radius: 15px; */
    border: 2px solid lightslategray;
    margin-top: 60px;
    /* margin-bottom: 10px; */
    /* box-shadow: -1rem 0 3rem red; */
    /* box-shadow: -10px 5px 10px #2a9d8f; */
}

/* .container_3
{
    width: 100%;

    display: flex;
    justify-content: space-around;
} */

.container_3>.Versions,
.container_3>.IDE
{
    width: 40%;
    /* height: 150px; */
    background-color: rgba(255, 255, 255, 0.842);
    /* border-radius: 15px; */
    margin-top: 60px;
    /* margin-bottom: 10px; */
    /* border: 2px solid black; */
    border: 2px solid lightslategray;
    /* box-shadow: -10px 5px 10px #2a9d8f; */
}

.container_P>.P1,
.container_P>.P2
{
    /* height: 150px; */
    width: 40%;
    background-color: rgba(255, 255, 255, 0.842);
    border: 2px solid lightslategray;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fa-solid fa-dice fa-xl
{
    color: yellow;
}

/* Portfolio */
#portfolio
{
    background-color: #eddea4;
    border-bottom: 1px solid transparent;
}

#portfolio>p
{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ol
{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#portfolio>ol>li:nth-child(2),
#portfolio>ol>li:nth-child(3)
{
    margin-top: 20px;
}

#parcours>p
{
    margin: 25px;
    /* margin: 10px; */
}

#parcours>p>a,
#portfolio>ol>li>a,
#portfolio>p>a
{
    text-decoration: none;
    color: black;
}

/* Contacter */
#contacter
{
    background-color: lightgray;
}
.container_4
{
    /* background-color: blueviolet; */
    width: 100%;

    display: flex;
    justify-content: center;
    /* border: 4px solid pink; */
}

#form
{
    height: 100%;
    /* border: 2px solid pink; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

#message
{
    resize: none;
}

#nom, #email, #message
{
    padding: 5px;
    width: 60%;
    margin: 0 auto;
}

#validation
{
    padding: 5px;
    width: 30%;
    margin: 0 auto;
}

/* .informations
{
    display: flex;
} */

/* .informations span
{
    display: block;
} */

/* .informations
{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .container_info
{
    width: 250px;
    height: 75px; */
    
    /* background-color: #2a9d8f; */

    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


.container_info
{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.842);
    border: 2px solid lightslategray;

    /* padding: 10px; */

    margin-top: 40px;
    margin-bottom: 40px;
}

.sub_container_info
{
    /* background-color: #f4a261; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Footer */
footer {
    background-color: #264653;
    /* font-family: 'Roboto', sans-serif; */
}

/* footer>ul
{
    width: 100%;
    line-height: 100px;
} */

/* Start of responsive */

/* Menu and Nav Bar */
@media screen and (max-width:768px)
{
    .menu_nav
    {
        display: none;
    }
}

@media screen and (min-width:768px)
{
    .EP:hover, .FA:hover, .Langages:hover, .Versions:hover, .IDE:hover, .P1:hover, .P2:hover
    {
        /* transform: translateY(-20px);
        margin-left: 15px; */
        transform: translateX(15px) translateY(-20px);
        /* box-shadow: -10px 5px 10px lightblue; */
        transition: 0.4s ease-out;
    }

    /* .intitule:hover, .description:hover
    {
        transform: translateX(15px) translateY(-20px); */
        /* transition: 0.4s ease-out; */
    /* } */
    
    #menu-bars, #menu
    {
        display: none;
    }
}

@media screen and (max-width:768px) {

    nav>ul
    {
        flex-direction: column;
    }

    nav a{
        padding: 5px;
    }

    .container_1, .container_2, .container_3, .container_P
    {
        display: block;
    }

    .container_new
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .EP, .FA,
    .container_2>.Langages,
    .container_3>.Versions,
    .container_3>.IDE,
    .container_P>.P1,
    .container_P>.P2
    {
        width: 95%;
        /* margin: 2.5%; */
        margin-left: 2.5%;
    }

    .EP:hover, .FA:hover, .Langages:hover, .Versions:hover, .IDE:hover, .P1:hover, .P2:hover
    {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
    }

    /* Contacter */
    /* .container_4
    {
        flex-direction: column;
    } */

    /* .formulaire
    {
        width: 100%;
    } */

    /* .informations
    {
        height: 150px;
    } */

    .container_L
    {
        display: block;
    }

    .sub_container, .sub_container2
    {
        width: 100%;
    }

    .sub_container2
    {
        margin-top: 25px;
    }
}

/* Responsive for menu_nav and footer */
@media screen and (max-width:576px)
{

    /* Intitulé */
    .intitule
    {
        width: 70%;
    }

    /* Footer */
    footer ul li a, .container_menu a
    {
        font-size: 14px;
        padding: 5px;
    }
}